﻿@*
    GeneratePrettyNames : true
    TypeVisibility: internal
    ClassSuffix: _
*@

@*
    above lines configure RazorGenerator, they must be within the same razor comment block, and must be the first comment.

    some caveats with code below, move lambda expressions into code: they will not render correctly by RazorGenerator.
*@

@helper RenderJQGrid(WebViewPage page, IJQGrid grid)
{
    <table id="@grid.HtmlIdGrid"></table>
    <div id="@grid.HtmlIdGridPager"></div>
    <script type="text/javascript">
    //# sourceURL=JQGridHelper.cshtml
    $(function() {

        var $grid = $('#@grid.HtmlIdGrid');
        var $pager = $('#@grid.HtmlIdGridPager');

        var colData = @page.Html.Raw(Json.Encode(grid.JQGridModel()));
        var onRowSelect = @(string.IsNullOrWhiteSpace(grid.OnRowSelect) ? "undefined" : grid.OnRowSelect);
        var gridModel = {
            colNames: colData.colNames,
            colModel: colData.colModel,
            url: '@grid.DataUrl',
            matchWidth: $('#@grid.HtmlIdContainer'),
            onSelectRow: onRowSelect,
            beforeSelectRow: function (rowId, e) {
                // block selection if actions column was clicked.
                var $self = $(this);
                var iCol = $.jgrid.getCellIndex($(e.target).closest("td")[0]);
                var gm = $self.jqGrid("getGridParam", "colModel");
                if (gm[iCol].name === 'actions')
                    return false;

                return true; // TODO allow grid construction to supply a custom beforeSelectRow hook, call it here and return its result instead.
            },
            shrinkToFit: true,
            pager: $pager,
            height: 'auto',
            gridview: true,
            viewrecords: true,
            sortable: true,
            multiselect: false
        };

        window.jqGridHelperConfirmAction = function (callback, rowId, requireConfirmation, confirmText) {
            if (!callback || !$.isFunction(callback)) {
                return;
            }
            // TODO replace confirm() with jq dialog.
            if (!requireConfirmation || confirm(confirmText)) {
                callback(rowId);
            }
        }

        @* Render actions into cell. jqGrid takes a function which returns html.. which is just awesome. *@
        var actionFormatter = function (cellvalue, options, rowObject) {
            var isArray = $.isArray(rowObject); // sometimes rowObject is an array and must use index, sometimes it is an object with named properties. wtf, i dunno. this code will return the first column if an array is found, and return row[actionkey] if it's an object.
            var rowParam = rowObject[isArray ? 0 : '@grid.KeyName'];
            var actions = @page.Html.Raw(Json.Encode(grid.JQGridActionModels())); // render actions into json and let javascript take it from here. trying to render javascript thru razor was too much of a pain to change.
            var spacerHtml = '<span class="spacer"></span>';
            function linkHtml(callback, icon, title, style) {
                return '<a href="javascript:' + callback + ';" style="' + style + '"><span style="cursor: pointer;"><i class="fa fa-lg fa-' + icon + '" title="' + title + '"></i></span></a>';
            }
            function callbackFn(callback, useConfirmDialog, confirmText) {
                if (!callback)
                    return;
                return 'jqGridHelperConfirmAction(' + callback + ', ' + rowParam + ', ' + useConfirmDialog + ', ' + getConfirmText(confirmText) + ')';
                function getConfirmText(confirmText) {
                    if (!confirmText)
                        return;
                    return "'" + confirmText + "'";
                }
            }
            // render actions to HTML.
            var result = actions
                .map(function (action) {
                    var style = '';
                    if (action.conditionColumnName) {
                        // resolve conditional actions, look at another column's data to decide if this action should be available.
                        var conditionVal = rowObject[isArray ? action.conditionColumnIndex : action.conditionColumnName];
                        var hide = conditionVal // hide action if conditional column is falsey.
                            ? '' // show.
                            : 'display: none;'; // hide.
                        style += hide;
                    }
                    var callback = callbackFn(action.javascriptCallback, action.useConfirmDialog, action.confirmDialogText);
                    var currentHtml = linkHtml(callback, action.fontAwesomeIcon, action.title, style);
                    if (conditionVal)
                        console.log('cv: ' + conditionVal + ' isArray: ' + isArray + ' html: ' + currentHtml);
                    return currentHtml;
                })
                .reduce(function(previousValue, currentValue, currentIndex) {
                    if (currentIndex)
                        return previousValue + spacerHtml + currentValue;
                    return currentValue;
                }, '');

            return result; // return HTML to be inserted into action column by jqGrid.
        };
        @* results of above look kind of like this:
            var actionColFormatter = function (cellvalue, options, rowObject) {
            return '<a href="javascript:jqGridHelperConfirmAction(customcallbackfunctionname, ' + rowObject[0] + ', true, 'delete confirmation dialog msg');"><span style="cursor:pointer;"><i class="fa fa-lg fa-gear" title="View Details" style=""></i></span></a>' + '<span class="spacer"></span>'
                + '<a href="javascript:jqGridHelperConfirmAction(customcallbackfunctionname, ' + rowObject[0] + ', true, 'delete confirmation dialog msg');"><span style="cursor:pointer;"><i class="fa fa-lg fa-edit" title="Edit Plan BMP Details" style=""></i></span></a>' + '<span class="spacer"></span>'
                + '<a href="javascript:jqGridHelperConfirmAction(customcallbackfunctionname, ' + rowObject[0] + ', true, 'delete confirmation dialog msg');"><span style="cursor:pointer;"><i class="fa fa-lg fa-trash" title="Remove BMP" style=""></i></span></a>';
        }*@

        var actionColFormatter = function(callback, title, style) {
            return function(cellvalue, options, rowObject) {
                var isArray = $.isArray(rowObject); // sometimes rowObject is an array and must use index, sometimes it is an object with named properties. wtf, i dunno. this code will return the first column if an array is found, and return row[actionkey] if it's an object.
                var rowParam = rowObject[isArray ? 0 : '@grid.KeyName'];
                if (!style)
                    style = '';
                return '<a href="javascript:' + callback + '(' + rowParam + ');" style="' + style + '">' + title + '</span></a>';
            }
        }

        var actionColumns = @page.Html.Raw(Json.Encode(grid.ActionColumns.ToArray()));

        if (actionColumns && actionColumns.length > 0) {
            for (var i = 0; i < actionColumns.length; i++) {
                var { javascriptCallback, title } = actionColumns[i];
                var formatterFunction = actionColFormatter(javascriptCallback, title, undefined);
                var actionColgrid = {
                    name: title
                    , sortable: false
                    , editable: false
                    , formatter: formatterFunction
                };
                gridModel.colModel.push(actionColgrid);
            }
        }

        var actionsColModel = {
            name: 'actions'
            , sortable: false
            , align: 'center'
            , editable: false
            , width: (10 + 20 * @grid.Actions.Count())
            , fixed: true
            , formatter: actionFormatter
        };

        @if (grid.Actions.Any())
        {
            @:gridModel.colModel.push(actionsColModel);
        }

        $grid.genericGrid(gridModel);
    });
    </script>
}
